# Python
*.py[cod]
__pycache__/
*.so

# Virtualenv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI
*.log
*.sqlite3

# Docker
# Dockerfile
# docker-compose.yml
# .dockerignore
*.env

# VS Code
.vscode/

# Pytest
.pytest_cache/
htmlcov/
.tox/
.nox/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db